@import "mixins";
@import "quasar.override.scss";

@include font-face("Tahoma", "Tahoma-Regular");
@include font-face("Tahoma", "Tahoma-Bold", 700);
@include font-face("OpenSans", "OpenSans-Regular");
@include font-face("OpenSans", "OpenSans-Semibold", 600);
@include font-face("OpenSans", "OpenSans-Bold", 700);

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#q-app {
  font-size: 14px;
  line-height: 1.5;
  color: #39444e;
  background-color: #f2f3f3;
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
  object-fit: contain;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
}

.btn-2 {
  font-size: 14px;
  line-height: 1.3;
  color: #7f8a94;
}

.text-label-color {
  color: #39444e !important;
}
