// override quasar styles
.q-field--outlined:hover .q-field__control:before {
  border-color: $primary;
}

.q-btn .q-focus-helper {
  display: none;
}
.q-field__control::before {
  border-color: #dce0e3 !important;
}
.sidebar-menu .q-item {
  .q-focus-helper {
    display: none;
  }

  .q-item__section--avatar {
    min-width: 50px;
    min-height: 50px;
  }
}

.catalog-table .q-table__top {
  align-items: flex-end;
}

.q-checkbox__bg {
  border: 1px solid #dce0e3;
  border-radius: 5px;
}

.q-checkbox__inner--truthy .q-checkbox__bg,
.q-checkbox__inner--indet .q-checkbox__bg {
  background: $primary;
  border: none;
}
