// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #e61771;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #0f991b;
$negative: #ec0000;
$info: #31ccec;
$warning: #ffd400;

$bg-color: #f2f3f3;

$color1: #39444e;
$color2: #7f8a94;
$color3: #dce0e3;
$color4: #f7f7f7;
$color5: $bg-color;
$colorAdd1: #b20087;
$colorAdd2: #0075cd;
$colorAdd3: #39c2c9;
$colorBrand1: $primary;
$colorBrand2: #394f62;

$colors: (
  color1: $color1,
  color2: $color2,
  color3: $color3,
  color4: $color4,
  color5: $color5,
  colorAdd1: $colorAdd1,
  colorAdd2: $colorAdd2,
  colorAdd3: $colorAdd3,
  colorBrand1: $colorBrand1,
  colorBrand2: $colorBrand2,
);

@each $k, $v in $colors {
  .text-#{$k} {
    color: $v !important;
  }

  .bg-#{$k} {
    background-color: $v !important;
  }
}

$body-font-size: 14px;
$input-font-size: 14px;
$body-line-height: 1.3;
$border-radius: 10px;
$typography-font-family: "Tahoma", sans-serif;

$h1: (
  size: 24px,
  line-height: 29px,
  letter-spacing: normal,
  weight: bold,
);

$h2: (
  size: 18px,
  line-height: 21px,
  letter-spacing: normal,
  weight: 400,
);

$h3: (
  size: 16px,
  line-height: 19px,
  letter-spacing: normal,
  weight: bold,
);

$button: (
  size: 14px,
  line-height: 17px,
  letter-spacing: normal,
  weight: bold,
);

$body1: (
  size: 16px,
  line-height: 19px,
  letter-spacing: normal,
  weight: 400,
);

$body2: (
  size: 14px,
  line-height: 19px,
  letter-spacing: normal,
  weight: 400,
);

$subtitle1: (
  size: 14px,
  line-height: 19px,
  letter-spacing: normal,
  weight: 400,
);

$subtitle2: (
  size: 12px,
  line-height: 16px,
  letter-spacing: normal,
  weight: 400,
);

$caption: (
  size: 10px,
  line-height: 14px,
  letter-spacing: normal,
  weight: 400,
);
